body{
    background-color:#f1f1f1;
    text-indent: 100px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.output {
    background: #eee;
    position: relative;
}